<div class="profile-page">
	<div clas="row">
		<div class="col-md-6">
			<div class="profile-page-info">	
				<div class="profile-photo">
					 <img src="https://guidelighter.s3.amazonaws.com/uploads/profile/profile_image/162/anonymous.png" width="300px">
				</div>
				<h3>User: <%= @user.username %> </h3>
				<p> About me: <%= @user.bio %></p>
				<h3>E-mail: <%= @user.email %> </h3>
				<% if current_user.id == @user.id %>
					<a href="/users/<%= @user.id %>/edit"><button class="btn btn-sm btn-primary">Edit Profile</button></a>
				<% end %>
			</div>
	</div>
	<div class="col-md-6 scroll">
		<% @posts.each do |post| %>
			<div class="profile-page-content">
			  <h3> <%= post.title %> </h3>
			  <br>
				<h4><a href="/users/<%= post.user.id %>"> <%= post.user.username %> </a> </h4>
			  <hr>
			  <p><%= post.content%></p>
			  <% if current_user.id == @user.id %>
					<a href="/posts/<%= post.id %>/edit"><button class="btn btn-sm btn-primary">Edit Post</button></a>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>